<app-header></app-header>
<div class="container">
    <div class="row mt-5 mb-3">
    <h2 class="">Каталог микросервисов</h2>
    <a [routerLink]="'/add'" routerActive="active" [ngStyle]="{'border':'2px solid #1976D2', 'margin-left':'50%'}" class="p-2">Добавить микросервис</a>
</div>
    <input type="text" [(ngModel)]="srch" placeholder="Поиск по названию и по смысловым тегам" class="form-control mt-3">
<div [ngStyle]="{'border':'1px solid #C8C8C8'}" class="p-4">
    <h3 class="mb-3">Фильтр</h3>
    <div class="row">
    <select   class=" col-3 form-control mr-3 ml-3" [(ngModel)]="sortON" [ngStyle]="{'border-radius':'20px'}">
        <option [ngValue]="every" selected > Статус микросервиса</option>
          <option [ngValue]="work" value="work" > Запущен</option>
          <option [ngValue]="notwork" value="notwork" >В разработке</option>
        </select>
        <select   class=" col-3 form-control mr-3" [(ngModel)]="sortON2" [ngStyle]="{'border-radius':'20px'}">
            <option [ngValue]="every" selected > Язык программирования</option>
              <option [ngValue]="java" value="java" > Java</option>
              <option [ngValue]="php" value="php" >PHP</option>
            </select>
            <select   class=" col-3 form-control" [(ngModel)]="sortON3" [ngStyle]="{'border-radius':'20px'}">
                <option [ngValue]="every" selected > Ответственный за проект</option>
                  <option [ngValue]="name1" value="name1" > name1</option>
                  <option [ngValue]="name2" value="name2" >name2</option>
                </select>
             </div>
            </div>
    

<div class="row ml-3 mb-3">
    
<div  *ngFor="let list of lists | filter:srch | sort:sortON | sort2:sortON2 | sort3:sortON3" class=" mt-4 ml-2 mr-2" [ngStyle]="{'border':'1px solid #dedede', 'background-color':'#fafafa', 'border-radius':'10px', 'width':'31%'}">
    <div class="p-4">  
    <p class="text-primary">{{list.status}}</p>
            <h3>{{list.name}}</h3>
        <p class="">{{list.teg}}</p>
    <p class="text-secondary">Язык программирования: <span class="font-weight-bold">{{list.lenguage}}</span></p>
    <p class="text-secondary">Связанные сервисы: <span class="font-weight-bold">{{list.connectService}}</span></p>
    <p class="text-secondary">Ответственный за проект: <a [routerLink]="'/worker'" routerActive="active" class="font-weight-bold">{{list.responsible}}</a></p>
    <p class="text-secondary">Ссылка на документацию: <a href="{{list.document}}" class="font-weight-bold">{{list.document}}</a></p>
    <p class="text-secondary">Ссылка на репозиторий: <a href="{{list.repozit}}" class="font-weight-bold">{{list.repozit}}</a></p>
    <p class="text-secondary">Описание: <span class="font-weight-bold">{{(list.content.split(" "))[0]}} {{(list.content.split(" "))[1]}} {{(list.content.split(" "))[2]}}...</span></p>
    </div>
    <div class="text-center bg-primary p-3" [ngStyle]=" {'border-radius':'10px'}">
    <a class="text-light" [routerLink]="['/edit', list.id]">Подробнее</a>
</div>
</div>
</div>
</div>
<app-footer></app-footer>



