<app-header-one></app-header-one>
<div  [ngStyle]="{'height':'90vh','background-color':'#25292e'}">
    <div class="row">
        <div class="col-6">
    <div class="cssload-tetrominos" [ngStyle]="{'margin-top':'350px'}">
        <div class="cssload-tetromino cssload-box1"></div>
        <div class="cssload-tetromino cssload-box2"></div>
        <div class="cssload-tetromino cssload-box3"></div>
        <div class="cssload-tetromino cssload-box4"></div>
    </div>
    </div>
    <div class="col-6" [ngStyle]="{'margin-top':'250px'}">
    <h1 class="text-light">Авторизация только для сотрудников компании</h1>
</div>
    </div>
</div>
