<app-header-one></app-header-one>
<div class="pt-5"[ngStyle]="{'height':'90vh','background-color':'#25292e'}">
    <div class="container" >
    <div class="text-center  col-center col-6  p-3 " [ngStyle]="{'border-radius':'20px', 'background-color':'white', 'margin-left':'20%'}">
        <div class="mt-5 mb-4 ">
            <img src="https://image.flaticon.com/icons/png/512/62/62650.png" class="p-3" alt="" [ngStyle]="{'width':'25%', 'border':'1px solid black'}">
        </div> 
        <h3 class="mb-5">Вход в систему</h3>
        <form [formGroup]="FormAuto" >
            <div class="row " [ngStyle]="{'margin-left':'12%'}">
              <div class="col-10 text-left">
                  <label for="email">Электронная почта</label>
                <input type="text" formControlName="email" name="email" class="form-control" [ngStyle]="{'border-radius':'20px'}">
              </div>
              <div class="col-10 mt-2 text-left">
                  <label for="pass">Пароль</label>
        
                <input type="password" formControlName="pass" name="pass" class="form-control" [ngStyle]="{'border-radius':'20px'}">
              </div>
            </div>
        
              <div class="col-10 p-3 " [ngStyle]="{'margin-top':'15px', 'margin-left':'8%'}">
                <a [routerLink]="'/list'" routerActive="active"><button  class="btn btn-dark mb-5" type="submit" [disabled]="FormAuto.invalid" [ngStyle]="{'border-radius':'20px', 'width':'90%'}">Войти</button></a>
              </div>
          </form>
    </div> 
    </div>
</div>
