<app-header></app-header>
<div class="container mb-5">
    <div class="p-5 mt-5 mb-5" [ngStyle]="{'border-radius':'20px', 'border':'1px solid #dedede', 'background-color':'#fafafa'}">
        <h3 class="mt-2 mb-2">Ответственный за разработку</h3>
        <p class="text-secondary">ФИО: </p>
        <p class="text-secondary">Контактная информация:</p>
             <p>Электронная почта: pochta@com.ru</p>
             <p>Номер телефона: 8 (9)</p>
             <h4 class="mb-4">Микросервисы:</h4>
             <div class="row" [ngStyle]="{'margin-bottom':'200px'}">
             <button type="submit" class="btn btn-success " [ngStyle]="{'border-radius':'30px', 'width':'32%'}">Запущены</button>
             <button type="submit" class="btn btn-primary ml-2" [ngStyle]="{'border-radius':'30px','width':'32%'}">В разработке</button>
             <button type="submit" class="btn btn-warning text-light  ml-2" [ngStyle]="{'border-radius':'30px','width':'32%'}">Планируются</button>
        </div>
        </div>
        </div>
<app-footer></app-footer>
