<app-header></app-header>
<div class="container">
    <h2 class="mt-5 mb-3">Добавить микросервис</h2>
    <form  [formGroup]="FormAdd" >
        <div class="form-group">
            <input type="text" class="form-control p-4 mt-4" #name FormControlName="name" placeholder="Введите имя микросервиса" [ngStyle]="{'border-radius':'30px'}">
            <input type="text" class="form-control p-4 mt-4" #teg  FormControlName="teg" placeholder="Введите ключевые теги" [ngStyle]="{'border-radius':'30px'}">
            <select name="lenguage"  class="p-2 mt-4" #lenguage FormControlName="lenguage" id="" [ngStyle]="{'border-radius':'30px', 'width':'100%', 'height':'50px'}">
                <option value="" >Язык программирования</option>
                <option value="PHP"  >PHP</option>
                <option value="JAVA">Java</option>
            </select>
            <input type="text" class="form-control  p-4 mt-4" #connectService FormControlName="connectService" placeholder="Связанные сервисы" [ngStyle]="{'border-radius':'30px'}">
            <input type="text" class="form-control p-4 mt-4" #responsible FormControlName="responsible" placeholder="Отвественный за проект " [ngStyle]="{'border-radius':'30px'}">
            <input type="text" class="form-control p-4 mt-4" #document FormControlName="document" placeholder="Ссылка на документацию" [ngStyle]="{'border-radius':'30px'}">
            <input type="text" class="form-control p-4 mt-4" #repozit FormControlName="repozit" placeholder="Ссылка на репозиторий" [ngStyle]="{'border-radius':'30px'}">
            <select name="status"  class=" p-2 mt-4" #status FormControlName="status" id="" [ngStyle]="{'border-radius':'30px', 'width':'100%', 'height':'50px'}">
                <option value="">Статус микросервиса</option>
                <option value="Запущен" >Запущен</option>
                <option value="В разработке" >В разработке</option>
            </select>

    
            <textarea name="content" #content id="" cols="30" rows="2" FormControlName="content" class="form-control p-4 mt-4" placeholder="Введите описание"></textarea>
            <button class="btn btn-primary mt-3 p-3" (click)="add(name.value, teg.value, lenguage.value, connectService.value, responsible.value, document.value, repozit.value, status.value, content.value)" [disabled]="FormAdd.invalid" type="submit" [ngStyle]="{'border-radius':'30px', 'width':'100%'}">Сохранить</button>
        
        </div>
    
    </form>
</div>
<app-footer></app-footer>
