<div class="container lead mt-3">
    <h2>Контакты</h2>
    <p >Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi quidem numquam eos non repellendus sint reprehenderit officia, unde consequatur dolorem rem illum. Excepturi perferendis rerum reiciendis, non perspiciatis doloribus saepe.</p>

</div>
