<app-header></app-header>
<div class="container">
    <div class="p-5 mt-5 mb-5" [ngStyle]="{'border-radius':'20px', 'border':'1px solid #dedede', 'background-color':'#fafafa'}">
        <div *ngIf=!isEdit>
        <h2 class="mb-3">О микросервисе: "{{list.name}}"</h2>
    {{list.teg}}
    <p class="text-secondary mt-3">Статус: <span class="font-weight-bold">{{list.status}}</span></p>
    <p class="text-secondary">Язык программирования: <span class="font-weight-bold">{{list.lenguage}}</span></p>
    <p class="text-secondary">Связанные сервисы: <span class="font-weight-bold">{{list.connectService}}</span></p>
    <p class="text-secondary">Ответственный за проект: <a [routerLink]="'/worker'" routerActive="active" class="font-weight-bold">{{list.responsible}}</a></p>
    <p class="text-secondary">Ссылка на документацию: <a href="{{list.document}}" class="font-weight-bold">{{list.document}}</a></p>
    <p class="text-secondary">Ссылка на репозиторий: <a href="{{list.repozit}}" class="font-weight-bold">{{list.repozit}}</a></p>
    <p class="text-secondary">Отписание: <span class="font-weight-bold">{{list.content}}</span></p>

    <div class="row" [ngStyle]="{'margin-top':'200px'}">
        <div class="col-6">
    <button type="submit" class="btn btn-primary col-12 p-2" [ngStyle]="{'border-radius':'20px'}" (click)="showEdit()">Изменить</button>
</div>
<div class="col-6">
    <button type="submit" class="btn btn-danger col-12 p-2" [ngStyle]="{'border-radius':'20px'}" (click)="delete(list.id)">Удалить</button>
</div>
    </div>
        </div>

<div class="" *ngIf=isEdit>
    <h3 сlass="mt-3 mb-3">Редактирование</h3>
    <form  [formGroup]="FormEdit">
    
        <div class="form-group ">
            <input type="text" class="form-control p-4 mt-4" #name placeholder="Название микросервиса" FormControlName="name" value="{{list.name}}" [ngStyle]="{'border-radius':'30px'}" >
            <input type="text" class="form-control p-4 mt-4" #teg placeholder="Теги" FormControlName="teg" value="{{list.teg}}"  [ngStyle]="{'border-radius':'30px'}">
            <input type="text" class="form-control p-4 mt-4" #status placeholder="Статус микросервиса" FormControlName="status" value="{{list.status}}" [ngStyle]="{'border-radius':'30px'}" >
            <input type="text" class="form-control p-4 mt-4" #lenguage placeholder="Язык программирования" FormControlName="lenguage" value="{{list.lenguage}}"  [ngStyle]="{'border-radius':'30px'}">
            <input type="text" class="form-control p-4 mt-4" #connectService placeholder="Связанные сервисы" FormControlName="connectService" value="{{list.connectService}}"  [ngStyle]="{'border-radius':'30px'}">
            <input type="text" class="form-control p-4 mt-4" #responsible placeholder="Ответственный за проект" FormControlName="responsible" value="{{list.responsible}}"  [ngStyle]="{'border-radius':'30px'}">
            <input type="text" class="form-control p-4 mt-4" #document placeholder="Ссылка на документацию" FormControlName="document" value="{{list.document}}"  [ngStyle]="{'border-radius':'30px'}">
            <input type="text" class="form-control p-4 mt-4" #repozit placeholder="Ссылка на репозиторий" FormControlName="repozit" value="{{list.repozit}}"  [ngStyle]="{'border-radius':'30px'}">
            <textarea  id="" cols="30" rows="10" class="form-control p-4 mt-4" #content placeholder="Описание" FormControlName="content" value="{{list.content}}"></textarea>
            <button class="btn btn-primary p-3 mt-4 col-12" (click)="edit(name.value, teg.value, status.value, lenguage.value, connectService.value, responsible.value, document.value, repozit.value, content.value
            )" [ngStyle]="{'border-radius':'30px'}">Сохранить</button>

        </div>
       

    </form>
</div>

   </div>
   </div> 
<app-footer></app-footer>

