<app-header></app-header>
<div class="container">
    <h2 class="mt-5 mb-3">Схема микросервисов</h2>
    <img src="assets/img/schema.png" alt="схема" class="col-12">
</div>
<app-footer></app-footer>

